@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
 
#main-content{
margin: 4vh 4vw;
}
    :root {
        --level-one: translateZ(3rem);
        --level-two: translateZ(6rem);
        --level-three: translateZ(9rem);
        
        --fw-normal: 400;
        --fw-bold: 700;
        
        --clr: #899fc3;
    }

    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
    } 
    .flex-container {
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;

      display: flex;
      flex-direction: row;
    }
    .card {
        margin-top: 4vh;
        width: 24vw; 
    } 

    .card__content {
        text-align: center;
        position: relative;
        padding:22vh 5em;
        transition: transform 3s;
        /* background: pink;*/
        transform-style: preserve-3d;
        transition: transform 3s, -webkit-transform 3s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;

    }

    .card:hover .card__content {
      -webkit-transform: rotateY(.5turn);

        transform: rotateY(.5turn);
    }

    .card__front,
    .card__back {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5em 3em;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform-style: preserve-3d;
        display: grid;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;

    }

    .card__front {
        background-color: var(--clr);
        background-image: url(/media/study.jpg);
        background-size: cover;
        background-blend-mode: overlay;
        color: #333;
    }

    .card__front::before {
        content: '';
        position: absolute;
        --spacer: 1em;
        top: var(--spacer);
        bottom: var(--spacer);
        left: var(--spacer);
        right: var(--spacer);
        border: 3px solid currentColor;
        transform: var(--level-one);
    }

    .card__title {
        font-size: 3.5rem;
        transform: var(--level-three);
        order: 2;
        text-transform: uppercase;
    }

    .card__subtitle {
        transform: var(--level-two);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: .75rem;
        font-weight: var(--fw-bold);
        opacity: .7;
    }

    .card__body {
      -webkit-transform: var(--level-two);
        transform: var(--level-two);
        font-weight: var(fw-normal);
        font-size: 1.5rem;
        line-height: 1.2;
    } 

    .card__back {
      -webkit-transform: rotateY(.5turn);
        transform: rotateY(.5turn);
        color: var(--clr);
        background: #333;
    } 
        
    .guide{
      margin: 4vh 3vw ; 
      padding: 5vh 4vw; 
      background: #ffffff;
    }
    .guide h3,.guide h3+p{
      margin-top: 4vh;
    }
    .guide p{font-size: 1.2em;}

    #geoLoc{
      background-color: #675a5a7f;
  border: 0.1em solid white;  
  font-size: 1em;
  color: #171721;
  height: 8vh;
  width: 24vw;
  font-weight: 600;
  padding: 1vh 1vw;
  margin: 2vh auto;
  border-radius: 3%;
  cursor: pointer;
  outline: none;
    }

    #geoLoc:hover{
      background: #2d2d39;
      color: #d4d0d0;
    }

#location{
  padding-bottom: 20vh;
  height: 6vh;
}
     
@media screen and (max-width: 900px) {
    #main-content {
      margin: 2vh 2vw;
    }
  
    .card {
      width: 60vw;
      margin-top: 2vh;
    }
  
    .card__content {
      padding: 15vh 3em;
    }
  
    .card__title {
      font-size: 2.5rem;
    }
  
    .card__subtitle {
      font-size: .6rem;
      letter-spacing: 3px;
    }
  
    .card__body {
      font-size: 1.2rem;
    }
  
    .guide {
      margin: 2vh 2vw;
      padding: 3vh 2vw;
    }
  
    .guide p {
      font-size: 1em;
    }
  
    #geoLoc {
      height: 6vh;
      width: 50vw;
    }
  }
  
  @media screen and (max-width: 620px) {
    .card {
      width: 60vw;
    }
    header {
      width: 100%;  
      height: 4vh;
    }h2{
      margin-left: 10%;;
    }  
    h1 {
      margin-top: 2vh;
      font-size: 1.4em;
    }
    .question-form {
      top: 40%;
    }
    nav a {
      padding:1em;
    }
    video {
      display: none;
    }
    .card__content {
      padding: 10vh 2em;
    }
    .flex-container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .card__title {
      font-size: 2rem;
    }
  
    .card__subtitle {
      font-size: .5rem;
      letter-spacing: 2px;
    }
  
    .card__body {
      font-size: 1rem;
    }
  
    .guide {
      background:rgba(218, 211, 203, 0.687) ;
      margin: 1vh 1vw;    width: 60vw;
      padding: 1vh 1vw;align-items: center;
    }
  
    .guide p {
      font-size: .9em;
    }
  
    #geoLoc {
     display: none;
      height: 5vh;
  
    }
  }
