* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
  } 
  .intro-container .reveal{
    position: fixed;
    height: 100%;width: 100%;
    top:0;left:0;
    z-index: -1; 
    background:rgb(197, 148, 182);
  }
/*   
  body {
    background-color: #dadbdc;
    color: black;
  } */
  .intro-container svg{
    overflow: visible;
  }
  .intro-container .svg-text{
    font-size: 6em;
    stroke: rgb(19, 5, 71);
    font-weight: bold;
    color: red;
    fill: #0022ff;
    text-shadow: 4px 4px 5px rgba(31,29,29,0.6);
    
  }
  .intro-container g {
    overflow: hidden;
    visibility: hidden;
  }
  .overflow-hidden {
    overflow: hidden;
}

@media screen and (max-width: 480px) {
  .intro-container {
   display: none;
  }
 
}
@media screen and (max-width: 900px) {
  .intro-container {
    display: none;
   }
} 