* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
   background: #c8cadb;
  }
  #offline-message {
    display: none;
    position: fixed;
    top: 0;height: 100%;
    left: 0; 
     right: 0; 
    background: #f8d7da;
    font-weight: bold;
    color: #000000;
    padding: 5em;
    text-align: center;
    z-index: 1000;
}

  
                                     /*header+nav*/
  header {
    background-color: #000000; 
    color: #fff;
    padding: 2vh 2vw;
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  video{
    position: absolute;
    top: 1vh;
    margin: 0;
    padding: 0;
    left: 0%;
    width: 22vw;
    height: 7vh;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: screen;
  }
  h1{
    margin: 0;position: relative;
    margin-left: 2vw;
    width: 30vw;
    height: 6vh;
    font-size: 2em;
    z-index: 1;
    overflow: hidden;
  }
  h1::before{
    content: '';
    position: absolute;
    left: 20%;
    width: 30vw;
    height: 6vh;
    background: linear-gradient(90deg,transparent 0%,#000 10%,#000000 100%);
    animation: animate 8.5s linear forwards;
    animation-delay: 2s;
  }
  @keyframes animate{
    0%{
      left: 20%;
    }
    100%{
      left: -10%;
    }
  
  }
  h1 span{
  color:#ff022c;
  }
  nav {
    display: flex;
    align-items: center;
  }
  nav ul {
    list-style: none; /* Remove bullet points */
    display: flex; /* Use flexbox */
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #535353;
     letter-spacing: 0.05em;
    border-bottom: #dadbdc;
  }
  
  nav ul li a#chosen{
  color: rgb(73, 73, 142);
  text-decoration: underline;
  }
  nav ul li a#chosen:hover{
    background-color: black;
    letter-spacing: normal;
    cursor: default;
  }
  .no-animation::before {
    animation: none; 
    opacity: 0; 
  }
  nav ul li a:hover{cursor: pointer;}
  
                                     /**/
                                     /*main*/
 .reveal,.page-container{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  

 }
  
  .main-container {
    width: 90vw;
    max-width: 62.5em;
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
  }
   
   .add-flashcard-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }
  
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .add-flashcard-container button {
    position: absolute;
    /* top:50%;left:50%; */
    transform: translate(-50%,-50%);
    width: 16vw;
    height: 6vh;
    text-align: center; 
    text-transform: uppercase;
    font-size: 1em;
    background-color: #c8cadb;
    color: rgb(0, 0, 0); 
    font-weight: 500; 
  }  
  
  
                               /*Grafika - SVG button effect*/
  
  .add-flashcard-container button svg,
  .add-flashcard-container button svg rect{
  position: absolute;
  top:0;left: 0;width: 16vw;
  height: 6vh;
  fill:transparent; 
   }
   .add-flashcard-container button svg rect{
    stroke: #081583;
    stroke-width: 6;
    transition: 1s;
    -webkit-transition: 1s;            /*vendor prefixes*/
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
   }
   .add-flashcard-container button:hover {
    background-color: transparent;
    color: rgb(44, 7, 13);
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
   .add-flashcard-container button:hover svg rect{
    stroke-dasharray: 100,400;
    stroke-dashoffset: 210;
    stroke:rgb(255, 34, 104);
  }
  
                      /*joke generator*/
  .wraper{
    position: relative;
    margin-top: 6vh;
    left: 16%;
    width: 40%;
    padding: 1em 1em;  
    background-color: #15161a; 
    transform: translate(-50%, -50%);
    text-align: center; 
    border-radius: 1.4em; 
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
  } 
  .wraper p{
    font-size: 1em;
    color: #ffffff;
    width: 100%;
    font-weight: 200;
    text-align: center;
    word-wrap: break-word; 
    margin: 2vh 0;
    opacity: 0;
  }
  .wraper .fade{
    opacity: 1;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;            /*vendor prefixes*/
    -moz-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
  }
  .wraper #bttn{ 
    background-color: #ffffff7f;
    border: 0.1em solid white;  
    font-size: 1em;
    color: #171721;
    height: 10vh;
    width: 5vw;
    font-weight: 600;
    padding: 1em 1vw;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
                                            /**/
  #card-container {
    margin-top: 1em;
    padding-bottom: 12vh;
  } 
  .question-form {
   
    width: 90vw;
    max-width: 34em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top:56%;
    left: 50%;
    padding: 4vh 2em;
    border-radius: 0.6em;
    box-shadow: 0 1em 2em rgba(28, 0, 80, 0.1);
    z-index: 2;
  }
  
  .question-form h2 {
    font-size: 2.2em;
    color: #363d55;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1vh;
  }
 
  input[type="file"] {
    color: transparent;
  }
  input[type="file"]::-webkit-file-upload-button {
    color: black;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 11fr 1fr;
    gap: 1em;
    align-items: center;
    margin-bottom: 1vh;
  }
  
  .error-container {
    align-self: center;
  }
  
  #error-message {
    color: #ff5353;
    font-weight: 400;
  }
 

.fa-xmark {
    font-size: 1.6em; 
    height: 1.8em;
    width: 1.8em;
  padding: 1vh 2vw 2vh 1vw;
    justify-content: end;
    align-items: end;
    color: #531fff;
    border-radius: 50%;
    cursor: pointer;
}
  /* .fa-xmark {
    font-size: 1.2em;
    background-color: #587ef4;
    height: 1.8em;
    align-self: center;
    width: 1.8em;
    display: grid;
    place-items: center;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
   
  } */
  
  label {
    color: #363d55;
    font-weight: 600;
    margin-bottom: 0.3em;
  }
  
  textarea {
    width: 100%;
    padding: 0.7em 0.5em;
    border: 1px solid #d0d0d0;
    outline: none;
    color: #414a67;
    border-radius: 0.3em;
    resize: none;
  }
  
  textarea:not(:last-child) {
    margin-bottom: 1.2em;
  }
  
  textarea:focus {
    border-color: #363d55;
  }


  /*                              *******************************/
  
  #drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  #drop-area img {
    max-width: 220px;
    max-height: 20vh;
  }
  
  #drop-area .hide {
    display: none;
  }
  
/*******************************************************/

  
  #save-button {
    font-size: 1em;
    background-color: #587ef4;
    color: #ffffff;
    padding: 0.6em 0;
    border-radius: 0.3em;
    font-weight: 600;
  }
  #save-btn{
    margin-top: 3vh;
    font-size: 1em;
    background-color: #587ef4;
    color: #ffffff;
    padding: 0.6em 0;
    border-radius: 4px;
    width: 90%;
    align-self: center;
  }
  #save-btn:hover{ 
    background-color: #395fd2; 
  }
  .card-list {
    display: grid;
    padding: 0.2em;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .card {
    background-color: #ffffff;
    box-shadow: 0 0.4em 1.2em rgba(28, 0, 80, 0.08);
    padding: 1.2em;
    border-radius: 0.4em;
  }
  
  .question-div,
  .answer-div {
    text-align: justify;
  }
  
  .question-div {
    margin-bottom: 0.5em;
    font-weight: 500;
    color: #363d55;
  }
  
  .answer-div {
    margin-top: 1em;
    font-weight: 400;
    color: #414a67;
  }
  .image-div {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}
  .show-hide-btn {
    display: block;
    background-color: #587ef4;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 0.6em 0;
    border-radius: 0.3em;
  }
  
  .buttons-con {
    display: flex;
    justify-content: flex-end;
  }
  
  .edit,
  .delete {
    background-color: transparent;
    padding: 0.5em;
    font-size: 1.2em;
  }
  
  .edit {
    color: #587ef4;
  }
  
  .delete {
    color: #ff5353;
  }
  
  .hide {
    display: none;
  } 
  
                                       /*media adaption*/
  
/*media adaption*/
@media screen and (max-width: 900px) {
  .card-list {
    grid-template-columns: 1fr ;margin-left: 14%;
    gap: 0.2em;
  } header {
    width: 100%; 
    height: 15vh;
    padding: 0;
  }.question-form {
    top: 40%;
  }
  header {
    width: 100%; 
    height: 3vh; 
  }
  .add-flashcard-container {margin-top: 20px;}
  .add-flashcard-container button {
     position: absolute;  
     transform: translate(-50%,-50%);
     width: 16vw; 
     height: 8vh;
     text-align: center; 
     text-transform: uppercase;
     font-size: 1em; 
     color: rgb(0, 0, 0); 
     font-weight: 500; 
   }    
   .add-flashcard-container button svg,
   .add-flashcard-container button svg rect{
   position: absolute;
   top:0;left: 0;width: 16vw;
   height:8vh;
   fill:transparent; 
    }   
  h1 {
     
    padding-top: 2vh;
    font-size: 1.2em;
  }
  .wraper {
    position: relative;
    margin-top: 1vh;
    margin-left: 10%;
    width: 40%;
    padding: 0vh 1vw;
  }
  .wraper #bttn {
    background: none;
    border: none;
  }
}
@media screen and (min-width: 1200px) {
  .card-list { 
    gap:2em;
    
  }.question-form {
    top: 50%;
  }
   header {
    width: 100%; 
    height: 15vh; 
  }
   .add-flashcard-container {margin-top: 20px;}
 .add-flashcard-container button {
    position: absolute;  
    transform: translate(-50%,-50%);
    width: 16vw;
    padding: auto;
    height: 4vh;
    text-align: center; 
    text-transform: uppercase;
    font-size: 1em; 
    color: rgb(0, 0, 0); 
    font-weight: 500; 
  }    
  .add-flashcard-container button svg,
  .add-flashcard-container button svg rect{
  position: absolute;
  top:0;left: 0;width: 16vw;
  height:4vh;
  fill:transparent; 
   }   
  .wraper {
    position: relative;
    margin-top: 1vh; 
    width: 40%;
    padding: 0vh 1vw;
  }
  .wraper #bttn {
    background: none;
    border: none;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px; 
    font-size: 0.6em;
  }.add-flashcard-container{
    margin-top: 20px;;
  }
  .wraper {
    position: relative;
    margin-top: 1vh;
    margin-left: 8%;
    width: 50%;
    padding: 0vh 1vw;
  }
  .wraper #bttn {
    background: none;
    border: none;
  }
  #card-container{  align-items: center;
    width: 98%;
  }
  .card-list {
    align-self: center;
    margin-left: 10vw;
    grid-template-columns:  1fr; 
    gap: 1em;
  }
  header {
    width: 100%; 
    height: 3vh;padding: 0;
  }
  
  h1 {
     
    padding-top: 1vh;
    font-size: 1.2em;
  }
  .question-form {
    top: 40%;
  }
  nav a {
    padding: 10px;
  }
  video {
    display: none;
  }
}

  
/* --------------------------footer-----------------------------*/

/*footer*/
.footer {
position: fixed;
bottom: 0;
left: 0;
font-size: 0.8em;
width: 100%;
background-color: #2d2d39;
padding: 2vh 0;
z-index: 1;
}

.footer .container {
max-width: 90%;
margin: 0 auto;
}

.footer-grid {
display: grid;
grid-template-columns: 3fr 1fr;
gap: 3vw;
justify-content: center;
text-align: center;
}

.footer h3 {
color: #d4d0d0;
}

.footer p {
color: #b1b0b0;
}

.footer ul {
list-style: none;
padding: 0;
}

.footer ul li {
margin-bottom: 2px;
}

.footer ul li:last-child {
margin-bottom: 0;
}
.footer .container .footer-grid .contact{
justify-self: end;
text-align: left;
}
.footer .container .footer-grid .contact .list-unstyled{
color: #b1b0b0;
font-size: 0.7em;
}
