<div class="page-container align-center">
    <section id="main-content">
        <h2>We are here to help</h2>
        <div class="flex-container">
            <!--Complex animation-->
            <div class="card"> 
                <div class="card__content">
                
                <div class="card__front">
                    <h3 class="card__title">Our App</h3>
                    <p class="card__subtitle">Productivity is easy with</p>
                </div> 
                
                <div class="card__back">
                    <p class="card__body">We are here to make the process of
                        studying intuitive and easy for you. Good luck!</p>
                </div>
                
                </div>
            </div>
            <!--Instructions div-->
            <div class="guide">
              <h3>Instructions </h3>
              <p>To add a flashcard use blue button on the top right of the screen.</p>
              <p>To check your answears use Show/Hide button on the card.</p>
            </div>
        </div>
        <button id="geoLoc">Guess Location</button>
        <p id="location"></p>
         
    </section>
</div>