<div class="page-container">
    <section id="main-content">
        <div class="main-container">
            <!--Add flashcard button--> 
            <div class="add-flashcard-container">
                <button id="add-flashcard">
                <svg  xmlns="http://www.w3.org/2000/svg">
                  <rect id="rec_c" width="16vw" height="6vh" ></rect>
                  </svg>
                Add Flashcard
                </button>
            </div>
            <!-- Display of jokes -->
            <div id="j" class="wraper"> 
              <p id="joke"></p>
              <button id="bttn">&#128514;</button>
            </div>

            <!-- Display Card of Question And Answers Here -->
            <div id="card-container">
              <div class="card-list"></div>
            </div>
            <audio id="deleteSound" src="/media/marimba-bloop-1-188150.mp3"></audio>
        </div>

          <!-- Input form for users to fill question and answer -->
        <form id="add-question-form" method="post" enctype="multipart/form-data">
            <div class="question-form hide" id="add-question-card">
              <h2>Add Flashcard</h2>
              <div class="wrapper">
                <!-- Error message -->
                <div class="error-container">
                  <span class="hide" id="error-message">Input fields cannot be empty!</span>
                </div>
                <!-- Close Button --> 
                  <i class="fa-solid fa-xmark" id="close-btn"></i>
              
              </div>

              <label for="question">Question:</label>
              <textarea class="input" name="question" id="question" placeholder="Type the question here..."  
              rows="2"></textarea>
              <label for="answer">Answer:</label>
              <textarea class="input" name="answer"  id="answer"  rows="4"
                placeholder="Type the answer here..."></textarea>

                  <!-- Image upload/drag & drop -->
                  <label for="image">Image:</label>
                  <div id="drop-area">
                    <p>Drag & drop an image here or click to select</p>
                    <input type="file" id="image" accept="image/*">
                    <img id="preview" src="/media/defaultp.jpg" alt="Image preview" class="hide"/>
                  </div>


              <button type="submit" id="save-btn">Save</button>
            </div>
        </form>
    </section>
</div>
